.airwallex-header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #ebedf0;
  .airwallex-header-main {
    max-width: 1280px;
    font-size: 18px;
    padding-left: 40px;
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
   
  }
}
