.airwallex-footer-container {
    height: 80px;
    font-style:oblique;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ebedf0;
}