
.modal-title {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 40px 0;
    font-style:oblique;
    &::after {
        display: block;
        content: '';
        height: 12px;
        width: 40px;
        border-bottom: 1px solid #d9d9d9;
    }
}
.succesed-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    font-size: 16px;
}
.submit-error-info {
    text-align: center;
    font-size: 16px;
    color: #ff00008c;
}